# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj *.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
parser/parser
parser/filter
parser/function_breaker
parser/exec
parser/breaker
file_parser/filter
file_parser/parser

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Ignore duplicate-code-detection-tool from https://github.com/platisd/duplicate-code-detection-tool
duplicate-code-detection-tool/

#Ignore BigCloneEval Tool
parser/BigCloneEval/

#Intermediate files from the tool
output_tool.txt

#Temporary Files
parser/tmp/
parser/output_parsed.txt

